[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ajay/Desktop/instax]
row=4
col=0

[/home/ajay/Desktop/indian-wordlist]
row=0
col=1

[/home/ajay/Desktop/Downloads]
row=1
col=1

[2020-02-13-14-56-35-00]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/ajay]
row=3
col=0

